.setting-container-page{
    width: fit-content;
    padding-top: 100px;
    margin: 0 auto;
}
.setting-text-box{
    background-color: #F9F9F9;
    color: black;
    height: 25px;
    font-size: 14px;
    border: 1px solid #DADADA ;
    cursor: pointer;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 161px;
}
.setting-img{
    width: 137px;
    object-fit: cover;
    margin-right: 10px;
}
.setting-detail{
    display: flex;
}
.setting-text-detail{
    display: flex;
    min-height: 128px;
    flex-direction: column;
    justify-content: space-around;
}
.dropdown-detail{
    margin-bottom: 0px;
    display: flex;
    justify-content:space-between;
}
.setting-box{
    margin-bottom: 20px;
    align-items: center;
}
.check-buttom{
    display: flex;
    align-items: center;
    background-color: #2E488B;
    border-radius: 30px;
    width: 280px;
    height: 53px; 
    color: white;
    justify-content: center;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 70px; 
}
.title{
    font-weight: bold;
}




.slider-container {
    position: relative;
    display: inline-block;
    width: 57px;
    height: 29px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}